// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";
@import "booking_index";

.list-terrace {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.mapboxgl-canvas {
   height: 600px !important;
}

@media screen and (max-width: 650px){
   .list-terrace{
       display: block;
   }
   
   .index-map {
      display: none;
   }
}

