.mosaic {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5rem;
}

.tile {
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tile:nth-child(1){
    grid-row: span 2;
    grid-column: span 1;
    height: 340px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.tile:nth-child(2),
.tile:nth-child(3){
    grid-row: span 1;
    grid-column: span 1;
}

.tile:nth-child(3){
    grid-row: span 1;
    grid-column: span 1;
    border-top-right-radius: 15px;
}

.tile:nth-child(4){
    grid-row: span 1;
    grid-column: span 1;
}

.tile:nth-child(5) {
    grid-row: span 1;
    grid-column: span 1;
    border-bottom-right-radius: 15px;
}

.show-map {
    width: 50%;
    height: 350px;
    border-radius: 5px;
}

.mapboxgl-canvas {
    height: 350px !important;
    width: 370 !important;
}

.booking-form {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.profile-picture {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    border-radius: 10px;
}

@media screen and (max-width: 650px){
    .mosaic{
        display: block;
    }
    .tile{
        margin-bottom: 1rem;
        border-radius: 15px;
    }
    #reviews {
        display: block !important;
    }

    .show-map {
        height: 200px;
        width: 100%;
        margin-bottom: 15px;
    }

    .mapboxgl-canvas {
        height: 200px !important;
        width: 370 !important;
    }
    .terrace-responsive {
        display: block !important;
    }
}
