.navbar-terrace {
  justify-content: space-between;
  background: white;
}

.navbar-terrace .navbar-collapse {
  flex-grow: 0;
}

.navbar-terrace .navbar-brand img {
  width: 40px;
  margin-left: 8px;
}
